h1{
    position: relative;
    top: 160px;
    left: 450px;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 800;
    
}


h4{
    position: relative;
    top: 300px;
    left: 455px;
    font-size: 20px;
    opacity: 0.6;
}
.ssign{
    font-size: 20px;
    padding: 15px;
    position: relative;
    top: 260px;
    left: 387px;
    width: 350px;
    height: 30px;
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
.ssign::placeholder{
        color: #212121;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        font-style: italic;
        font-family: cursive;
        font-style: oblique;
        font-size: 20px;
        padding-left: 15px;
        opacity: 1;        
}
.ppassword{
    position: relative;
    padding: 15px;
    top: 360px;
    font-size: 20px;
    left: px;
    width: 350px;
    height: 30px;
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
.ppassword::placeholder{
    color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-family: cursive;
    font-style: oblique;
    font-size: 20px;
    padding-left: 15px;
    opacity: 1;
    }   
.ssubmit{
    font-size: 20px;
    background-color: rgb(0, 0, 64);
    color: #fcfcfc;
    position: relative;
    top: 430px;
    left: 450px;
    width: 400px;
    height: 50px;
    border-radius: 30px;
}  
.ccheckbox{
    position: relative;
    top: 360px;
    left: 45px;
    transform: scale(1.5);
    margin: 10px;
    cursor: pointer;
}
.rrrrrr{
    position: relative;
    top: 360px;
    left: 60px;
}
.ilink{
    position: relative;
    top: 148px;
    left: 600px;
    font-weight: bold;
    font-size: 20px;
}
.iimg{
    width: 50%;
    height: 1000px;
    position: relative;
    left: 53%;
    bottom: 390px;   
}
.ttext{
    position: relative;
    top: 430px;
    left: 500px;
}



body{
    
    overflow: hidden;
    background-color: aliceblue;

    background-image: url(imgs/6399a4d27711a5ad2c9bf5cd_ben-sweet-2LowviVHZ-E-unsplash-1.jpeg);
    background: no-repeat;
    background-position: right;
}